.container {
    display: flex;
    background-color: white;
    width: 350px;
}

.container > img {
    width: 150px;
    height: 250px;
    padding: 10px;
    opacity: .5;
}

.container > img:hover {
    cursor: pointer;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .container {
        width: 170px;
        flex-direction: column;
    }
}